<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="30002">
        <setting id="country" type="labelenum" label="30003" values="delfi.ee|delfi.lv|delfi.lt" default="0"/>
	<setting id="hd" type="bool" label="30004" default="false"/>
</category>                                                                                                       
</settings>
